.header-nav, .project-page, .type-page {

    // a {
    //     color: white;
    // }

    a:hover{
        color: #EF3B2D;
    }


    .dropdown-item {
        color:  #EF3B2D;

        &:hover {
            background-color: #4e5760;
            color: white;
        }
    }

    .dropdown-toggle {
        color: white;
    }

    .dropdown-toggle:after, .nav-link::after {
        color: #EF3B2D;
    }

    img {
        width: 50px;
    }

    .dropdown-menu {
        background-color: #212529;
        border: solid 1px #EF3B2D;
    }

    
}

